*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* screen sizes */
    --screen-sm: 390px;
    --screen-md: 768px;
    --screen-lg: 1200px;

    /* colors */
    --primary-color: hsl(0, 0%, 100%);
    --secondary-color: hsl(0, 0%, 11%);
    --accent-color: hsl(0, 0%, 7%);
    --accent-color-on-hover:  hsl(0, 0%, 0%);

    /* text colors */
    --txt-primary-color: var(--accent-color);
    --txt-secondary-color: hsl(0, 0%, 35%);
    --txt-primary-color-inv: var(var(--primary-color));
    --txt-secondary-color-inv: hsl(0, 0%, 75%);
    

    /* font sizes */
    --fnt-sm: 12px;
    --fnt-nav: 13px;
    --fnt-body: 15px;
    --fnt-heading: 20px;
    --fnt-large: 24px;
    /* --fnt-h2: 16px;
    --fnt-sub-h1:
    --fnt-sub-h2: */

    /* line height */
    --line-height-nav: 21px;
    --line-height-body: 17px;
    --line-height-heading: 23px;

    /* font weight */
    --fnt-thin: 200;
    --fnt-normal: 400;
    --fnt-medium: 500;
    --fnt-semibold: 600;
    --fnt-bold: 900;

    /* border color */
    --border-color-light: hsl(0, 0%, 82%);

    /* border radius */
    --border-radius-sm: 5px; 
    --border-radius-md: 16px;
    --border-radius-full: 50%;

    /* box shadow */
    --box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    --box-shadow-btn: 0px 0.6px 0.6px -1.17px rgba(0, 0, 0, 0.13), 0px 2.29px 2.29px -2.33px rgba(0, 0, 0, 0.12), 0px 10px 10px -3.5px rgba(0, 0, 0, 0.06);

    /* transition */
    --transition: all 150ms ease-in-out;
}

@font-face {
    font-family: 'SF-Pro';
    src: url('./assets/fonts/SF-Pro.ttf');
}

body {
    font-family: 'SF-Pro';
    background-color: var(--primary-color);
}

a {
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    :root {
        /* font sizes */
        --fnt-heading: 24px;

        /* line height */
        --line-height-heading: 28px;
    }
}