@import url('../style.css');

.header {
    /* padding: 0 20px; */
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    z-index: 3;
}

.header a {
    text-decoration: none;
    /* color: var(--txt-secondary-color); */
    font-size: var(--fnt-nav);
}

.nav-top,
.nav-main,
.nav-bottom {
    padding: 0 20px;
    max-width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-top {
    background-color: var(--accent-color);
    height: 45px;
}

.nav-main {
    padding: 10px 20px;
    position: relative;
}

.nav-main .logo,
.nav-main .login-btn,
.nav-main .signup-btn,
.nav-main .logo-full {
    display: none;
}

.logo img {
    height: 24px;
    width: auto;
}

.search-form {
    width: 100%;
    position: relative;
    /* border: 2px solid green; */
}

.search-form input {
    width: 100%;
    height: 44px;
    padding: 0 10px;
    padding-left: 44px; 
    border-radius: var(--border-radius-sm);
    outline: none !important;
    border: 1.25px solid var(--border-color-light);
    font-size: var(--fnt-body);
    transition: var(--transition);
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    font-size: var(--fnt-body);
    transform: translateY(-50%);
    color: var(--txt-secondary-color);
    z-index: 2;
}

.search-form input:focus {
    box-shadow: var(--box-shadow);
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    /* width: 20px; */
    /* border: 2px solid hsl(120, 100%, 25%) !important; */
    cursor: pointer;
    font-size: 44px;
    color: var(--accent-color) !important;
    background-color: var(--accent-color);
    background: url('./../assets/images/Pixpal-Mark_1.png');
}

.btn {
    width: 100%;
    height: 32px;
    background-color: var(--accent-color);
    border: none;
    color: var(--primary-color);
    border-radius: var(--border-radius-sm);
    padding: 0 10px;
    cursor: pointer;
    transition: var(--transition);
    box-shadow: var(--box-shadow-btn);
}

.btn:hover {
    background-color: var(--accent-color-on-hover);
    /* box-shadow: var(--box-shadow-btn); */
}

.nav-top .login-btn {
    margin-left: auto;
}

.signup-btn {
    display: block;
    width: max-content;
    line-height: 32px;
    font-weight: var(--fnt-semibold);
    background-color: var(--primary-color);
    color: var(--txt-primary-color);
}

.signup-btn:hover {
    background-color: var(--primary-color);
}

.login-btn {
    font-weight: var(--fnt-semibold);
    padding: 0 10px;
    color: var(--txt-secondary-color-inv);
    transition: var(--transition);
    border: 1.25px solid var(--border-color-light);
    height: 32px;
    border-radius: var(--border-radius-sm);
    line-height: 32px;
}

.login-btn:hover {
    color: white;
}

.filter-icon {
    display: flex;
    min-width: 44px;
    height: 44px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: var(--txt-secondary-color);
    background-color: var(--primary-color);
    cursor: pointer;
    outline: none;
    border-radius: var(--border-radius-sm);
    border: 1.25px solid var(--border-color-light);
    padding: 5px;
    transition: var(--transition);
}

.filter-icon:focus,
.filter-icon:hover {
    color: var(--txt-primary-color);
    border-color: var(--accent-color);
}
/* .hamburger-icon {
    display: flex;
    flex-direction: column;
    min-width: 44px;
    height: 44px;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
    /* background-color: var(--accent-color); 
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--border-color-light);
    padding: 5px;
}

.hamburger-icon > .line {
    width: 100%;
    height: 3px;
    /* background-color: var(--primary-color); 
    background-color: var(--accent-color);
    border-radius: var(--border-radius-sm);
}

.hamburger-icon .line-1 {
    width: 100%;
    transform: scaleX(0.6);
    transform-origin: right;
    align-self: flex-end;
    transition: var(--transition);
}

.hamburger-icon:hover .line-1 {
    transform: scaleX(1);
}

.hamburger-icon .line-2 {
    transition: var(--transition);
}

.ham-active .line-1 {
    transform: rotate(45deg);
    transform-origin: center;
    margin-top: auto;
    margin-bottom: -6px;
}

.ham-active:hover .line-1 {
    transform: rotate(45deg);
}

.ham-active .line-2 {
    transform: rotate(-45deg);
    transform-origin: center;
    margin-bottom: auto;
    margin-top: -6px;
} */

dialog.modal-filter {
    position: absolute;
    min-height: 100vh;
    /* inset: 0; */
    min-width: 100%;
    padding: 0 20px;
    border: none;
    outline: none;
}

.modal-nav {
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--border-color-light);
    background-color: var(--primary-color);
    z-index: 2;
}

.close-btn,
.main-filter-close-btn {
    background: none;
    font-size: var(--fnt-heading);
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--txt-secondary-color);
    transition: var(--transition);
}

.close-btn:focus,
.close-btn:hover,
.main-filter-close-btn:focus,
.main-filter-close-btn:hover {
    color: var(--accent-color);
}

dialog .modal-nav > h2 {
    font-size: var(--fnt-heading);
    font-weight: var(--fnt-semibold);
}

/* dialog.image-modal::backdrop {
    width: 100px;
    position: absolute;

} */
dialog .modal-nav > .clear-all-btn,
.clear-all-btn {
    width: max-content;
    margin-left: auto;
    border: 1.25px solid var(--border-color-light);
    color: var(--txt-secondary-color);
    background: var(--primary-color);
}

dialog .modal-nav > .clear-all-btn:hover,
.clear-all-btn:hover {
    border-color: var(--accent-color) !important;
    color: var(--accent-color) !important;
    background: var(--primary-color);
}

.filter-options-container {
    padding: 20px 0;
}

.filter-by h3 {
    font-size: var(--fnt-body);
    font-weight: var(--fnt-semibold);
}

.filter-by-options-container {
    margin: 20px 0;
    padding: 8px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.filter-input-label {
    cursor: pointer;
}

.filter-input-label.filter-active {
    color: var(--accent-color);
    background-color: hsl(0, 0%, 96%);
    border: 1.5px solid var(--accent-color);
}

.filter-input-label-color {
    width: 42px;
    height: 42px;
    border-radius: var(--border-radius-full) !important;
}
.filter-input-label-color.filter-color-red {
    background: red;
}
.filter-input-label-color.filter-color-blue {
    background: blue;
}
.filter-input-label-color.filter-color-green {
    background: green;
}
.filter-input-label-color.filter-color-white {
    background: white;
}
.filter-input-label-color.filter-color-black {
    background: black;
}
.filter-input-label-color.filter-color-yellow {
    background: yellow;
}
.filter-input-label-color.filter-color-orange {
    background: orange;
}
.filter-input-label-color.filter-color-purple {
    background: purple;
}
.filter-input-label-color.filter-color-teal {
    background: teal;
}

/* .filter-input-label.filter-input-label-color.filter-active {
    background-color: transparent !important;
    opacity: 0.5;
} */
/* .filter-input-label.filter-active:hover {
    color: white;
} */

.filter-by-options-container > input[type="radio"] {
    display: none;
}

dialog .modal-footer {
    padding: 20px 0;
    border-top: 1px solid var(--border-color-light);
    position: sticky;
    bottom: 0;
    background-color: var(--primary-color);
}

.apply-filter-btn {
    height: auto;
    padding: 16px 0;
    /* font-size: 15px; */
    font-weight: var(--fnt-medium);
}

/* dialog.modal-filter::backdrop {
    background: green;
} */

.nav-bottom {
    padding: 20px;
    border-top: 1px solid var(--border-color-light);
    border-bottom: 1px solid var(--border-color-light);
    position: relative;
    color: var(--txt-secondary-color);
}

.nav-tag-container {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    overflow-y: hidden;
}

.tag-scroller-wrapper {
    position: absolute;
    height: 80%;
    top: 50%;
    background: rgba(255, 255, 255, 0.4);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    /* box-shadow: rgba(255, 255, 255, 1) 0px 10px 36px 0px, rgba(255, 255, 255, 1) 0px 0px 0px 1px; */
    z-index: 1;
}

.tag-scroller-wrapper-left {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));
    
    /* the following to be for later after proper implementation of the scollable... */
    /* background: white; */
}
.tag-scroller-wrapper-right {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));
}

.tag-scroller {
    width: 40px;
    height: 40px;
    /* border: 2px solid blue; */
    border-radius: var(--border-radius-full);
    color: var(--txt-primary-color);
    font-size: var(--fnt-heading);
    font-weight: var(--fnt-semibold);
    display: none;
    align-items: center;
    justify-content: center;
    outline: none !important;
    cursor: pointer;
    opacity: 0.8;
    transition: var(--transition);
    /* z-index: 2; */
}

.tag-scroller.show {
    display: flex;
}

.tag-scroller-left {
    left: 0;
}

.tag-scroller-right {
    right: 0;
}

.tag-scroller:focus,
.tag-scroller:hover {
    opacity: 1;
}

.nav-bottom::-webkit-scrollbar {
    display: none;
}

.main-filter {
    display: none;
    height: max-content;
}

.tags-container {
    display: flex;
    gap: 20px;
    position: relative;
}

.tags-container > a,
.filter-by-options-container > label {
    display: inline-block;
    padding: 0 20px;
    height: 42px;
    line-height: 42px;
    border: 1.25px solid var(--border-color-light);
    border-radius: var(--border-radius-sm);
    font-size: var(--fnt-nav);
    font-weight: var(--fnt-semibold);
    color: var(--txt-secondary-color);
    transition: var(--transition);
    user-select: none;
    z-index: 0;
}

.tags-container > a:focus,
.tags-container > a:hover,
.filter-by-options-container > label:hover,
.filter-by-options-container > label:focus
{
    outline: none;
    color: var(--txt-primary-color);
    border-color: var(--accent-color);
}

.menu-modal {
    border: 1.25px solid var(--border-color-light) !important;
    position: absolute;
    top: 109px;
    right: 20px;
    padding: 20px;
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    background-color: white;

    margin-left: auto;
    border-radius: var(--border-radius-sm);
    z-index: 2;
}

.menu-modal.open {
    display: flex;
}

.filter-btn {
    border: 1.25px solid var(--accent-color);
    background-color: white;
    color: var(--txt-primary-color);
}

.filter-btn:focus,
.filter-btn:hover {
    border: 1.25px solid black;
}

/* main section */
/* .img-gallery {
    /* border: 2px solid green; 
    padding: 40px 0;
    display: grid;
    gap: 24px;
}

.img-gallery-sub-grid {
    display: grid;
    gap: 24px;
} */

.img-gallery {
    --gap: 24px;
    --columns: 1 auto;
    margin: 0 auto;
    padding: 40px 0;
    columns: var(--columns);
    gap: var(--gap);
    min-width: 100%;
    /* display: flex;
    flex-direction: row; */
    /* writing-mode: horizontal-tb; */
    /* display: flex;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}
/* 
.sub-column{
    width: 100px;
    height: 100px;
    background: #000;
} */

.img-gallery > * {
    break-inside: avoid;
    margin-bottom: var(--gap);
    /* flex: 0 0 33.3333%; */
    overflow-x: hidden;
}

@supports (grid-template-columns: masonry) {
    .img-gallery {
        display: grid;
        grid-template-columns: repeat(var(--columns));
        grid-template-rows: masonry;
    }

    .grid > * {
        margin-bottom: 0;
    }
}

.img-container,
.modal-img-container {
    width: 100%;
    height: auto;
    position: relative;
    cursor: pointer;
}

.canvas {    
    width: 100%;
    height: 100%;
    animation: pulse 2000ms linear infinite;
}

@keyframes pulse {
    0% {opacity: 1}
    50% {opacity: 0.8}
    100% {opacity: 1}
}

.img-overlay,
.img-link {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: var(--transition);
    /* border: 2px solid green; */
    z-index: 0;
}

.img-container:hover .img-overlay {
    opacity: 1;
}

.img-link {
    background: transparent;
}

.img-container .img {
    width: 100%;
    height: auto;
}

.img-element-flex-container {
    display: flex;
}
/* .close-image-modal-btn {
    position: absolute;
    top: -10px;
    right: 0;
} */
@keyframes scaleUp {
    0% {
        transform: scale(0.2) ;
    }
    100% {
        transform: scale(1);
    }
}

.modal-img {
    width: 100%;
    height: auto;
}

.img-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    padding: 12px;
}

.user-detail-container {
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: var(--primary-color);
}

.profile-pic {
    width: 32px;
    height: 32px;
    border-radius: var(--border-radius-full);
}

.download-btn {
    width: max-content;
    line-height: 32px;
    background: transparent;
    color: var(--txt-secondary-color-inv);
    z-index: 2;
}

.download-btn:hover {
    color: var(--primary-color);
    background: transparent;
    box-shadow: none;
}

.image-number-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: var(--fnt-medium);
    font-weight: var(--fnt-semibold);
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border-radius: var(--border-radius-full);
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.filters-btn {
    position: sticky;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    width: max-content;
    /* font-size: var(--fnt-heading); */
}

.no-results-info {
    display: none;
    font-size: var(--fnt-heading);
    color: var(--txt-primary-color);
    opacity: 0.8;
    margin: 20px auto 80px;
    width: max-content;
}

.img-modal-container-with-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    min-height: 100dvh;
    background-color: hsla(0, 0%, 7%, 0.4);
    z-index: 4;
    display: none;
}

.img-modal-container-with-overlay.show-modal {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.image-modal {
    transform-origin: center;
    width: 100%;
    min-height: 100px;
    max-height: 84dvh;
    overflow-y: scroll;
    border: none;
    outline: none;
    background: var(--primary-color);
    border-radius: var(--border-radius-sm);
    /* scrollbar-width: none; */
    margin-top: 40px;
    border-radius: var(--border-radius-md) var(--border-radius-sm) 0 0;
    overflow-y: scroll;
    animation: scaleUp 300ms ease-out;
}

.image-modal::-webkit-scrollbar {
    width: 6px;
}
.image-modal::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
.image-modal::-webkit-scrollbar-thumb {
    background: var(--txt-secondary-color); 
    border-radius:10px;
}
.image-modal::-webkit-scrollbar-thumb:hover {
    background: #555; 
} 

.modal-header {
    width: 100%;
    padding: 16px 20px 16px 0;
    position: sticky;
    top: 0;
    background-color: hsla(0, 50%, 100%, 0.6);
    backdrop-filter: blur(16px);
    z-index: 4;
}

.close-image-modal-btn {
    display: block;
    width: max-content;
    margin-left: auto;
}

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

/* .image-modal::backdrop {
    background: var(--accent-color);
    opacity: 0.4;
} */

.modal-img-container {
    text-align: center;
    overflow: hidden;
}

.modal-img-container .modal-img {
    animation: scrollImgUp 400ms ease-out;
}

.image-modal .tags-container {
    flex-wrap: wrap;
}

.related-img-section {
    /* align-self: start; */
    /* border: 2px solid red; */
    padding: 20px 0;
}

.related-img-section h2 {
    font-family: var(--fnt-heading);
    color: var(--txt-primary-color);
}

@keyframes scrollImgUp {
    0% {
        transform: translateY(50%) scale(0.6);
        opacity: 0.4; 
    }
    100% {
        transform: translateY(0%) scale(1);
        opacity: 1; 
    }
}

.modal-typography-section {
    width: 100%;
}

.modal-img-detail {
    margin: 20px 0;
    font-size: var(--fnt-body);
    color: var(--txt-secondary-color);
}

.modal-img-info-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 2px solid green; */
}

.modal-info-container-user {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 0;
}

.span-username-single-char,
.span-image-details-single-char {
    animation: animateTxtChar 150ms linear;
}

@keyframes animateTxtChar {
    0% {font-size: 6px;}
    100% {font-size: var(--fnt-body);}
}

.modal-download-btn {
    color: var(--primary-color);
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    gap: 8px;
}

.modal-download-btn:hover,
.modal-download-btn:focus {
    background-color: var(--accent-color-on-hover);
    box-shadow: var(--box-shadow-btn);
}

@media screen and (min-width: 390px) {
    .nav-top {
        display: none;
    }

    .nav-main .logo,
    .nav-main .login-btn,
    .nav-main .signup-btn {
        display: block;
    }

    .nav-main .logo-full {
        display: none;
    }

    .nav-main .login-btn {
        color: var(--txt-secondary-color);
    }

    .nav-main .login-btn:hover {
        color: var(--accent-color);
    }

    .nav-main .signup-btn {
        background-color: var(--accent-color);
        color: var(--primary-color);
    }

    .nav-main .signup-btn:hover {
        background-color: var(--accent-color-on-hover);
    }

    /* main section */

    .img-gallery {
  
        gap: 24px;
        align-items: start;
        padding: 20px;
        columns: 2 auto;
    }

    dialog.modal-filter {
        width: 60%;
        margin-left: auto;
        min-width: 60%;
    }

    .modal-img {
        width: 80%;
    }
}

@media screen and (min-width: 768px) {
    /* .hamburger-icon {
        display: none;
    } */

    .nav-main {
        gap: 20px;
    }

    .nav-main .logo {
        display: none;
    }

    .nav-main .logo-full {
        display: block;
    }

    .filter-icon {
        display: none;
    }

    .container {
        display: block;
        position: relative;
        /* min-height: 300px; */
        /* column-gap: 5%; */
        width: 100%;
        padding: 20px;
    }

    .container.add-grid {
        display: grid;
        grid-template-columns: 25% 75%;
    }

    .main-filter-container {
        border-right: 1.25px solid var(--border-color-light);
        padding: 0 20px;
        display: none;
    }

    .main-filter {
        display: block;
        position: sticky;
        top: 160px;
        /* overflow-y: scroll; */
        /* border: 2px solid green; */
    }

    .main-filter .filter-options-container {
        max-height: 50dvh;
        overflow-y: scroll;
        scrollbar-width: thin;
        scroll-behavior: smooth;
    }

    .img-gallery {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        columns: 3 auto;
    }

    .filters-btn {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .filters-btn.hide-filters-btn {
        display: none;
    }

    .img-modal-container-with-overlay {
        width: 100dvw;
    }
    
    .image-modal {
        transform-origin: center bottom;
        width: 84%;
        max-height: 90dvh;
    }
    /* .image-modal {
        max-width: 800px;
    } */
    /* .modal-container {
        flex-direction: row;
    } */
    .modal-img {
        width: 72%;
    }

    .related-img-section {
        align-self: start;
    }
}