@import url('../style.css');
@import url('./nav.css');

.btn {
    width: 100%;
    height: 32px;
    background-color: var(--accent-color);
    border: none;
    color: var(--primary-color);
    border-radius: var(--border-radius-sm);
    padding: 0 10px;
    cursor: pointer;
    transition: var(--transition);
    box-shadow: var(--box-shadow-btn);
}

.btn:hover {
    background-color: var(--accent-color-on-hover);
    /* box-shadow: var(--box-shadow-btn); */
}

.signup-btn {
    display: block;
    width: max-content;
    line-height: 32px;
    font-weight: var(--fnt-semibold);
    background-color: var(--primary-color);
    color: var(--txt-primary-color);
}

.signup-btn:hover {
    background-color: var(--primary-color);
}

.login-btn {
    font-weight: var(--fnt-semibold);
    padding: 0 10px;
    color: var(--txt-secondary-color-inv);
    transition: var(--transition);
    border: 1.25px solid var(--border-color-light);
    height: 32px;
    border-radius: var(--border-radius-sm);
    line-height: 32px;
}

.login-btn:hover {
    color: white;
}

.upload-img-btn {
    cursor: pointer;
}

.upload-img-btn-lg-screen {
    display: none;
}

dialog.modal-filter {
    position: absolute;
    min-height: 100vh;
    /* inset: 0; */
    min-width: 100%;
    padding: 0 20px;
    border: none;
    outline: none;
}

.modal-nav {
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--border-color-light);
    background-color: var(--primary-color);
    z-index: 2;
}

.close-btn,
.main-filter-close-btn {
    background: none;
    font-size: var(--fnt-heading);
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--txt-secondary-color);
    transition: var(--transition);
}

.close-btn:focus,
.close-btn:hover,
.main-filter-close-btn:focus,
.main-filter-close-btn:hover {
    color: var(--accent-color);
}

dialog .modal-nav > h2 {
    font-size: var(--fnt-heading);
    font-weight: var(--fnt-semibold);
}

/* dialog.image-modal::backdrop {
    width: 100px;
    position: absolute;

} */
dialog .modal-nav > .clear-all-btn,
.clear-all-btn,
.close-upload-image-btn,
.clear-recent-searches-btn {
    width: max-content;
    margin-left: auto;
    border: 1.25px solid var(--border-color-light);
    color: var(--txt-secondary-color);
    background: var(--primary-color);
}

dialog .modal-nav > .clear-all-btn:hover,
.clear-all-btn:hover,
.close-upload-image-btn:hover,
.clear-recent-searches-btn:hover {
    border-color: var(--accent-color) !important;
    color: var(--accent-color) !important;
    background: var(--primary-color);
}

.filter-options-container {
    padding: 20px 0;
}

.filter-by h3 {
    font-size: var(--fnt-body);
    font-weight: var(--fnt-semibold);
}

.filter-by-options-container {
    margin: 20px 0;
    padding: 8px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.filter-input-label {
    cursor: pointer;
}

.filter-input-label.filter-active {
    color: var(--accent-color);
    background-color: hsl(0, 0%, 96%);
    border: 1.5px solid var(--accent-color);
}

.filter-input-label-color {
    width: 42px;
    height: 42px;
    border-radius: var(--border-radius-full) !important;
}
.filter-input-label-color.filter-color-red {
    background: red;
}
.filter-input-label-color.filter-color-yellow {
    background: yellow;
}
.filter-input-label-color.filter-color-green {
    background: green;
}
.filter-input-label-color.filter-color-cyan {
    background: cyan;
}
.filter-input-label-color.filter-color-blue {
    background: blue;
}
.filter-input-label-color.filter-color-magenta {
    background: magenta;
}
.filter-input-label-color.filter-color-white {
    background: white;
}
.filter-input-label-color.filter-color-black {
    background: black;
}

.filter-by-options-container > input[type="radio"] {
    display: none;
}

dialog .modal-footer {
    padding: 20px 0;
    border-top: 1px solid var(--border-color-light);
    position: sticky;
    bottom: 0;
    background-color: var(--primary-color);
}

.apply-filter-btn {
    height: auto;
    padding: 16px 0;
    font-weight: var(--fnt-medium);
}

.main-filter {
    display: none;
    height: max-content;
}

.img-gallery,
.related-img-container {
    --gap: 5px;
    --columns: 2 auto;
    margin: 0 auto;
    padding: 20px 5px;
    columns: var(--columns);
    gap: var(--gap);
    min-width: 100%;
}

.modal-upload-image {
    inset: 50% 50%;
    transform: translate(-50%, -50%);
    border: none;
    outline: none;
    padding: 16px;
    border-radius: var(--border-radius-sm);
    min-width: 240px;
    max-width: 444px;
    width: 44%;
}


dialog.modal-upload-image::backdrop {
    background-color: rgba(0, 0, 0, 0.75);
}

#upload-image-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-container > input,
.input-tags-field-container {
    margin-top: 5px;
}

.input-container > input[type = "text"],
.input-tags-container {
    padding: 0 5px;
}

.input-container-add-description > input,
.input-container-add-tags > div {
    font-size: var(--fnt-sm) !important;
}

.input-container-upload-image {
    width: 100%;
}

.label-upload-file {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius-sm);
    word-wrap: break-word;
    word-break: break-all;
    user-select: none;
}
.input-img-file {
    display: none;
}

.upload-img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

.input-container-add-description > input[type = "text"],
.input-tags-field-container {
    width: 100%;
    min-height: 24px;
}


.input-tags-field-container {
    display: flex;
    flex-direction: column;
}

.input-tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.input-tags-field-container > input[type = "text"] {
    width: 100%;
    min-height: 24px;
    padding: 0 5px;
    border: none;
}

.close-upload-image-btn {
    margin-top: 16px;
    width: 100%;
    background: var(--primary-color);
    color: var(--txt-primary-color);
}

#input-tags {
    font-size: 12px;
}

.upload-img-tag {
    font-size: 10px;
    background-color: var(--bg-color-tag);
    color: var(--txt-primary-color-inv);
    border-radius: var(--border-radius-xs);
    padding: 2px 4px;
    transition: var(--transition);
}

.animate-tag {
    background: var(--secondary-color);
    animation: jiggle 150ms linear 5;
}

.img-gallery > *,
.related-img-container > * {
    break-inside: avoid;
    margin-bottom: var(--gap);
    overflow-x: hidden;
}

@supports (grid-template-columns: masonry) {
    .img-gallery,
    .related-img-container {
        display: grid;
        grid-template-columns: repeat(var(--columns));
        grid-template-rows: masonry;
    }

    .grid > * {
        margin-bottom: 0;
    }
}

.img-container,
.modal-img-container {
    width: 100%;
    height: auto;
    position: relative;
    cursor: pointer;
}

.canvas {    
    width: 100%;
    height: 100%;
    animation: pulse 2000ms linear infinite;
}

.img-overlay,
.img-link {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: var(--transition);
    z-index: 0;
    display: none;
}

.img-link {
    background: transparent;
}

.img-container .img {
    width: 100%;
    height: auto;
}

.img-element-flex-container {
    display: flex;
}

.modal-img {
    width: 100%;
    height: auto;
}

.img-footer,
.mb-img-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    padding: 5px;
    font-size: var(--fnt-sm);
    opacity: 0;
}

.mb-img-footer {
    opacity: 1;
}

.img-footer {
    position: absolute;
}

.user-detail-container,
.mb-user-detail-container {
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.user-detail-container {
    color: var(--primary-color);
}

.profile-pic,
.mb-profile-pic {
    width: 24px;
    height: 24px;
    border-radius: var(--border-radius-full);
}

.download-btn,
.mb-download-btn {
    width: max-content;
    line-height: 32px;
    background: transparent;
    color: var(--txt-secondary-color-inv);
    z-index: 2;
}

.mb-download-btn {
    color: var(--txt-primary-color);
    box-shadow: none !important;
}

.download-btn:hover,
.mb-download-btn:hover {
    color: var(--primary-color);
    background: transparent;
    box-shadow: none;
}

.image-number-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: var(--fnt-medium);
    font-weight: var(--fnt-semibold);
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border-radius: var(--border-radius-full);
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.filters-btn {
    position: sticky;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    width: max-content;
}

.no-results-info {
    display: none;
    font-size: var(--fnt-heading);
    color: var(--txt-primary-color);
    opacity: 0.8;
    margin: 20px auto 80px;
    width: max-content;
}

.img-modal-container-with-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    min-height: 100dvh;
    background-color: hsla(0, 0%, 7%, 0.75) !important;
    z-index: 4;
    display: none;
}

.img-modal-container-with-overlay.show-modal {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.image-modal {
    transform-origin: center;
    width: 100%;
    min-height: 100px;
    max-height: 90dvh;
    border: none;
    outline: none;
    background: var(--primary-color);
    border-radius: var(--border-radius-sm);
    margin-top: 40px;
    border-radius: var(--border-radius-md) var(--border-radius-sm) 0 0;
    overflow-y: scroll;
    animation: scaleUp 300ms ease-out;
    position: relative;
}

body::-webkit-scrollbar,
.image-modal::-webkit-scrollbar,
.search-bar-info-container::-webkit-scrollbar {
    width: 6px;
}
body::-webkit-scrollbar-track,
.image-modal::-webkit-scrollbar-track,
.search-bar-info-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
body::-webkit-scrollbar-thumb,
.image-modal::-webkit-scrollbar-thumb,
.search-bar-info-container::-webkit-scrollbar-thumb {
    background: var(--txt-secondary-color); 
    border-radius:10px;
}
body::-webkit-scrollbar-thumb:hover,
.image-modal::-webkit-scrollbar-thumb:hover,
.search-bar-info-container::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 33%); 
} 

.modal-header-bg {
    background-color: hsla(0, 50%, 100%, 0.6);
    backdrop-filter: blur(16px);
    position: sticky;
    top: 0;
    width: 100%;
    margin-top: 0;
    z-index: 4;
}

.modal-header {
    padding: 16px 20px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-image-modal-btn {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 20px;
    right: 20px;
    /* top: -54px;
    right: 20px; */
    display: block;
    width: max-content;
    font-size: var(--fnt-large);
    background: transparent !important;
}

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.modal-container > *:not(:first-child) {
    padding: 20px;
}

.modal-img-container {
    text-align: center;
    overflow: hidden;
}

.modal-img-container .modal-img {
    animation: scrollImgUp 400ms ease-out;
}

.image-modal .tags-container {
    flex-wrap: wrap;
}

.related-img-section {
    padding: 20px 0;
    width: 100%;
}

.related-img-section h2 {
    font-family: var(--fnt-heading);
    color: var(--txt-primary-color);
}

.modal-typography-section {
    width: 100%;
}

.modal-img-detail {
    margin: 20px 0;
    font-size: var(--fnt-body);
    color: var(--txt-secondary-color);
}

.modal-img-info-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.modal-info-container-user {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 0;
}

.span-username-single-char,
.span-image-details-single-char {
    animation: animateTxtChar 150ms linear;
}

.modal-download-btn {
    color: var(--primary-color);
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: var(--fnt-sm);
}

.modal-download-btn:hover,
.modal-download-btn:focus {
    background-color: var(--accent-color-on-hover);
    box-shadow: var(--box-shadow-btn);
}

@keyframes scrollImgUp {
    0% {
        transform: translateY(80%) scale(0.6);
        opacity: 0.4; 
    }
    100% {
        transform: translateY(0%) scale(1);
        opacity: 1; 
    }
}

@keyframes animateTxtChar {
    0% {font-size: 6px;}
    100% {font-size: var(--fnt-body);}
}

@keyframes jiggle {
    0% {transform: rotateZ(5deg)}
    50% {transform: rotateZ(-5deg)}
    100% {transform: rotateZ(0deg)}
}

@keyframes pulse {
    0% {opacity: 1}
    50% {opacity: 0.8}
    100% {opacity: 1}
}

@keyframes scaleUp {
    0% {
        transform: scale(0.2) ;
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (min-width: 390px) {
    /* main section */
    .upload-img-btn-lg-screen {
        display: block;
        color: var(--accent-color);
    }

    .img-gallery,
    .related-img-container {
        --gap: 24px;
        align-items: start;
        padding: 20px;
        columns: 2 auto;
    }

    .img-overlay {
        display: block;
    }

    .img-footer,
    .mb-img-footer {
        padding: 12px;
        font-size: var(--fnt-body);
    }

    .mb-img-footer {
        display: none;
    }

    .img-container:hover .img-overlay, 
    .img-container:hover .img-footer {
        opacity: 1;
    }

    .profile-pic {
        width: 32px;
        height: 32px;
    }
    
    .user-detail-container {
        column-gap: 8px;
    }

    dialog.modal-filter {
        width: 60%;
        margin-left: auto;
        min-width: 60%;
    }

    .modal-container > * {
        padding: 16px;
    }

    .modal-header-bg {
        margin-top: 16px;
    }

    .modal-img {
        width: 100%;
    }

    .modal-download-btn {
        font-size: var(--fnt-body);
    }
}

@media screen and (min-width: 768px) {
    .container {
        display: block;
        position: relative;
        width: 100%;
        padding: 20px;
    }

    .container.add-grid {
        display: grid;
        grid-template-columns: 25% 75%;
    }

    .main-filter-container {
        border-right: 1.25px solid var(--border-color-light);
        padding: 0 20px;
        display: none;
    }

    .main-filter {
        display: block;
        position: sticky;
        top: 160px;
    }

    .main-filter .filter-options-container {
        max-height: 50dvh;
        overflow-y: scroll;
        scrollbar-width: thin;
        scroll-behavior: smooth;
    }

    .img-gallery,
    .related-img-container {
        --gap: 24px;
        --columns: 2
        grid-template-columns: repeat(3, minmax(0, 1fr));
        columns: 3 auto;
    }

    .filters-btn {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .filters-btn.hide-filters-btn {
        display: none;
    }

    .img-modal-container-with-overlay {
        width: 100dvw;
    }
    
    .image-modal {
        transform-origin: center bottom;
        width: 100%;
        max-height: 90dvh;        
    }

    .modal-header-bg {
        margin-top: 24px;
    }

    .modal-header {
        padding: 16px 74px;
        max-width: 1024px;
        margin: 0 auto;
    }
    
    .modal-container > *:not(:last-child) {
        padding: 0 74px ;
        max-width: 1024px;
    }
    
    .modal-container > * {
        padding: 16px;
    }

    .modal-typography-section {
        padding: 0 20px;
    }

    .related-img-section {
        grid-column: 1 / -1;
    }

    .related-img-section {
        align-self: start;
    }
}