@import url('../style.css');

.main {
    padding: 5px;
}

.main h1 {
    color: var(--txt-primary-color);
    font-size: var(--fnt-heading);
    font-weight: var(--fnt-semibold);
    margin: 0 5px;
}

#search-result-title {
    font-style: italic;
}

.img-gallery {
    padding: 20px 0;
}

@media screen and (min-width: 390px) {
    .main {
        padding: 20px;
    }

    .main h1 {
        margin: 0;
    }

    .img-gallery {
        padding: 40px 0;
    }
}